In [ ]:
#Counting of number of occurences in a word

word = "programming"
character = 'g'
count = 0
for i in word:
  if i == character:
    count +=1
print(count)

2

In [ ]:
# writing fibbonaci series
fib = [0,1]
n = 5
for i in range(n):
  fib.append(fib[-1]+fib[-2])

print(','.join(str(e) for e in fib))

0,1,1,2,3,5,8

In [ ]:
#Finding the maximum number in a list

numlist = [12,3,55,23,6,78,33,4]
max = numlist[0]
for num in numlist:
  if max<num:
    max = num
print(max)

78

In [ ]:
# Finding the minimum number in the list
numlist = [12,3,55,23,6,78,33,4]
min = numlist[0]
for num in numlist:
  if min>num:
    min = num
    print(min)

3

In [ ]:
#Finding the middle element in a list
numlist = [12,3,55,23,6,78,33,5,34]
midelement = int((len(numlist)/2))
print(numlist[midelement])

6

In [ ]:
#Converting a list into a string
list = ["p","y","t","h","o","n"]
string= "".join(list)
print(string)

python

In [ ]:
#Adding two list element together
lst1 = [1,2,3]
lst2 = [4,5,6]

res_lst = []
for i in range(0, len(lst1)):
  res_lst.append(lst1[i] +lst2[i])
print(res_lst)

[5, 7, 9]

In [ ]:
#Comapring 2 strings for anagrams
str1 = "listen"
str2 = "silent"

str1.replace(" ","").upper()
str2.replace(" ","").upper()

if sorted(str1) == sorted(str2):
  print("anagrams")
else:
  print("not anagrams")

anagrams

In [ ]:
#Checking for palindrome
str1 = "kayak".lower()

if str1 ==str1[::-1]:
  print(True)
else:
  print(False)

True

In [ ]:
#Counting Digits letters and spaces in the string
import re

name = "Python is 1"

digitcount= re.sub("[^0-9]","",name)
lettercount = re.sub("[^a-zA-Z]","", name)
spacecount = re.findall("[\s]",name)

print(len(digitcount))
print(len(lettercount))
print(len(spacecount))

1
8
2

In [ ]:
from tokenize import Special
#Counting special characters in a string
def count_sp_char(string):
  sp_char = "!@#$%^&*()<>?/\[]{};:~`"
  count = 0
  for i in string :
    if i in sp_char:
      count+=1
  return count

text = "Hello! How are you?#specialchars!123"
result = count_sp_char(text)
print(result)

4

In [ ]:
#Building a pyramid in python
def pyramid(n):
  for i in range(n):
    for j in range(i,n):
      print(" ",end = "")
    for j in range(i+1):
      print("*",end = "")
    print("")
pyramid(5)

     *
    **
   ***
  ****
 *****

In [ ]:
#Randomizing the items of a list in python
from random import shuffle

lst = ['python','is','easy']
shuffle(lst)
print(lst)

['python', 'easy', 'is']

In [ ]:
#Create a generator to produce first n prime numbers

def isprime(num):
  for i in range(2,num):
    if num%i == 0:
      return False
  return True

def prime_generator(n):
  num = 2
  while n:
    if isprime(num):
      yield num
      n-=1
    num+=1

x = int(input("enter no.of prime numbers required"))
it = prime_generator(x)
for e in it:
  print(e,end =" ")

enter no.of prime numbers required5
2 3 5 7 11

In [1]:
#Implementing variable lenght argument in python
def Average(*t):
  avg = sum(t)/len(t)
  return avg
result1 = Average(32,51,44,43,54,65,76,56)

print(result1)

52.625

In [3]:
from pickle import TUPLE2
#Creating instance member variable in python
class Test:
  def __init__(self):
    self.a = 5
  def f1(self):
    self.b = 10

t1 = Test()
t2 = Test()
t1.f1
t1.c = 15
print(t1.__dict__)
print(t2.__dict__)

{'a': 5, 'c': 15}
{'a': 5}

In [6]:
#Addition using lambda function
f = lambda a,b : a+b
r= f(3,7)
print(r)

#OR
print((lambda a,b:a+b)(3,7))

10
10

In [10]:
#Finding factorial using lambda function
f = lambda n: 1 if n==0 else n*f(n-1)
f(4)

24

In [13]:
num = int(input("Enter the number "))
factorial = 1
if num<0 :
  print("not possible")
elif num == 0:
  print("factorial is 1")
elif num>0:
  for i in range(1,num+1):
    factorial = factorial*i
  print(factorial)

Enter the number 5
120

In [14]:
#List compression (to create a list in single)
list1 = [23,43,44,23,24,76,54,65,87,88]
l1 = [e for e in list1 if e%2==0]
print(l1)

[44, 24, 76, 54, 88]

In [17]:
list1 = [23,43,44,23,24,76,54,65,87,88]

l1 = []
for i in list1:
  if i%2 == 0:
   l1.append(i)
print(l1)

[44, 24, 76, 54, 88]

In [19]:
#What is use of split and join function of str
s="what is right in your mind is right in your world"
s1= s.split(" ")
print(s1)
s1 =s1[::-1]
print(s1)
print(" ".join(s1))

['what', 'is', 'right', 'in', 'your', 'mind', 'is', 'right', 'in', 'your', 'world']
['world', 'your', 'in', 'right', 'is', 'mind', 'your', 'in', 'right', 'is', 'what']
world your in right is mind your in right is what

In [20]:
#Global and local variable
x= 5 #Global variable
def f1():
  global x
  x=15
  y=10
  print("x=%d y=%d"%(x,y))
f1()
print(x)

x=15 y=10
15

In [1]:
#Global functions
x = 5
y=7
def fun():
  x= 10
  d= globals()
  print("local x=%d global x=%d"%(x,d['x']))

fun()

local x=10 global x=5

In [3]:
def welcome(fx):
  def mfx(*t,**d):
    print("Before hello function")
    fx(*t,**d)
    print("Thanks for using the function")
  return mfx

#decorator function without arguments
@welcome
def hello():
  print("Hello!")

#decorator function with arguments
def add(a,b):
  print(a+b)

hello()
add(1,3)

Before hello function
Hello!
Thanks for using the function
4

In [5]:
#Create a generator for first n nautural even numbers

def evennum(n):
  i = 1
  while n:
    yield 2*i
    i += 1
    n -= 1

it = evennum(int(input()))
even_list = []
while True:
  try:
    even_list.append(next(it))
  except StopIteration:
    break
print(even_list)

5
[2, 4, 6, 8, 10]

In [16]:
#HOw to use else with loop in python

i = 1
while i<=4:
  print (i, end = " ")
  if i == 5:
    break
  i+= 1
else:
  print("else block")

1 2 3 4 else block

In [19]:
#Class object and Instance Object

class test:
  x=20
  def __init__(self,a,b):
    self.a = a       #instance member argument
    self.b = b       #instance member argument
  def show(self):

    print(self.a,self.b)

print(test.x)#class object
t1 = test(4,5)#instance object
t1.show()

#Displaying instance variable directly
print(t1.a)
print(t1.b)

20
4 5
4
5