<a href="https://colab.research.google.com/github/abhishek0478/Python-data-analysis-projects/blob/main/Python_interview_questions%20Basic%20to%20advance.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
#Counting of number of occurences in a word

word = "programming"
character = 'g'
count = 0
for i in word:
  if i == character:
    count +=1
print(count)

2

In [3]:
# writing fibbonaci series
fib = [0,1]
n = 5
for i in range(n):
  fib.append(fib[-1]+fib[-2])

print(','.join(str(e) for e in fib))

0,1,1,2,3,5,8

In [5]:
#Finding the maximum number in a list

numlist = [12,3,55,23,6,78,33,4]
max = numlist[0]
for num in numlist:
  if max<num:
    max = num
print(max)

78

In [8]:
# Finding the minimum number in the list
numlist = [12,3,55,23,6,78,33,4]
min = numlist[0]
for num in numlist:
  if min>num:
    min = num
    print(min)

3

In [10]:
#Finding the middle element in a list
numlist = [12,3,55,23,6,78,33,5,34]
midelement = int((len(numlist)/2))
print(numlist[midelement])

6

In [11]:
#Converting a list into a string
list = ["p","y","t","h","o","n"]
string= "".join(list)
print(string)

python

In [13]:
#Adding two list element together
lst1 = [1,2,3]
lst2 = [4,5,6]

res_lst = []
for i in range(0, len(lst1)):
  res_lst.append(lst1[i] +lst2[i])
print(res_lst)

[5, 7, 9]

In [15]:
#Comapring 2 strings for anagrams
str1 = "listen"
str2 = "silent"

str1.replace(" ","").upper()
str2.replace(" ","").upper()

if sorted(str1) == sorted(str2):
  print("anagrams")
else:
  print("not anagrams")

anagrams

In [16]:
#Checking for palindrome
str1 = "kayak".lower()

if str1 ==str1[::-1]:
  print(True)
else:
  print(False)

True

In [17]:
#Counting Digits letters and spaces in the string
import re

name = "Python is 1"

digitcount= re.sub("[^0-9]","",name)
lettercount = re.sub("[^a-zA-Z]","", name)
spacecount = re.findall("[\s]",name)

print(len(digitcount))
print(len(lettercount))
print(len(spacecount))

1
8
2

In [18]:
from tokenize import Special
#Counting special characters in a string
def count_sp_char(string):
  sp_char = "!@#$%^&*()<>?/\[]{};:~`"
  count = 0
  for i in string :
    if i in sp_char:
      count+=1
  return count

text = "Hello! How are you?#specialchars!123"
result = count_sp_char(text)
print(result)

4

In [19]:
#Building a pyramid in python
def pyramid(n):
  for i in range(n):
    for j in range(i,n):
      print(" ",end = "")
    for j in range(i+1):
      print("*",end = "")
    print("")
pyramid(5)

     *
    **
   ***
  ****
 *****

In [20]:
#Randomizing the items of a list in python
from random import shuffle

lst = ['python','is','easy']
shuffle(lst)
print(lst)

['python', 'easy', 'is']

In [22]:
#Create a generator to produce first n prime numbers

def isprime(num):
  for i in range(2,num):
    if num%i == 0:
      return False
  return True

def prime_generator(n):
  num = 2
  while n:
    if isprime(num):
      yield num
      n-=1
    num+=1

x = int(input("enter no.of prime numbers required"))
it = prime_generator(x)
for e in it:
  print(e,end =" ")

enter no.of prime numbers required5
2 3 5 7 11

In [23]:
#Implementing variable lenght argument in python
def Average(*t):
  avg = sum(t)/len(t)
  return avg
result1 = Average(32,51,44,43,54,65,76,56)

print(result1)

52.625